// css reset
:root {
  --clr-primary-400: hsl(158, 36%, 37%);
  --clr-primary-600: hsl(158, 36%, 19%);
  --clr-primary-200: hsl(30, 38%, 92%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-300: hsl(228, 12%, 48%);
  --clr-neutral-800: hsl(212, 21%, 14%);

  --fs-primary: 0.875rem;
  --ff-primary: 'Fraunces', serif;
  --ff-secondary: 'Montserrat', sans-serif;
  --fw-500: 500;
  --fw-700: 700;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}
button, input {
  font: inherit;
}

// general styles
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--clr-primary-200);
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 430px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  .card {
    max-width: 700px;
    width: 90%;
    margin-inline: auto;
    border-radius: 1em 0.8em;
    background-color: var(--clr-neutral-100);
    box-shadow: 0 0 2px 2px var(--clr-primary-200);
    overflow: hidden;
    .card-hero {
      padding: 2em;
      .hero-category {
        text-transform: uppercase;
        letter-spacing: 6px;
        padding-bottom: 1em;
        color: var(--clr-neutral-300);
        font-family: var(--ff-secondary);
        @media(max-width: 430px) {
          font-size: 0.8em;
          padding-bottom: 0.8em;
        }
      }
      .hero-title {
        font-family: var(--ff-primary);
        padding-bottom: 0.8em;
        font-weight: var(--fw-700);
        font-size: 2.6em;
        color: var(--clr-neutral-800);
        line-height: 1.1;
        @media(max-width: 430px) {
          font-size: 2em;
          padding-bottom: 0.4em;
        }
      }
      .hero-desc {
        font-family: var(--ff-secondary);
        color: var(--clr-neutral-300);
        line-height: 1.8;
        padding-bottom: 1em;
        @media(max-width: 430px) {
          font-size: 0.8em;
          padding-bottom: 0.8em;
          font-weight: var(--fw-500);
        }
      }
      .flex {
        display: flex;
        gap: 2em;
        align-items: center;
        @media (max-width: 430px) {
          gap: 1em;
        }
      }
      .flex-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.6em;
      }
      .hero-price {
        padding-bottom: 1.5em;
        .sale-price {
          color: var(--clr-primary-400);
          font-family: var(--ff-primary);
          font-size: 2.6em;
          font-weight: var(--fw-700);
        }
        .orig-price {
          text-decoration: line-through;
          color: var(--clr-neutral-300);
          text-align: center;
        }
      }
      button {
        width: 100%;
        color: var(--clr-neutral-100);
        background-color: var(--clr-primary-400);
        border: none;
        border-radius: 0.6em;
        padding: 0.9em 1.8em;
        font-weight: var(--fw-700);
        transition: all 0.2s ease;
      }
      button:hover {
        background-color: var(--clr-primary-600);
        cursor: pointer;
      }
    }
  }
}

